{% macro formRow(child, globalAttr, attr) %}

<div class="input-group input-group-outline my-3 w-100" style="flex-direction:column;">
    {{ form_label(child) }}

        {% set existingAttrs = child.vars.attr %}
        
        
        {% set existingAttrs = child.vars.attr %}
        {% set newAttrs = {'class': 'form-control', 'style': 'width:100%;'} %}
        {% if attr != null %}
            {% set newAttrs = newAttrs|merge(attr) %}
        {% endif %}
        {%set mergedAttrs = existingAttrs|merge(newAttrs)%}
        
        {{ form_widget(child, {globalAttr,'attr': existingAttrs|merge(newAttrs)}) }}
    
    {{ form_errors(child) }}
</div>

{% endmacro %}