{% extends 'base.html.twig' %}

{% block title %}Edit UserCollection{% endblock %}

{% block body %}
    <h1>Edit UserCollection</h1>

    {{ include('user_collection/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_user_collection_index') }}">back to list</a>

    {{ include('user_collection/_delete_form.html.twig') }}
{% endblock %}
